* {
  box-sizing: border-box;
}

body {
  background-color: rgb(209, 230, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 500px;
}

.square {
  width: 16px;
  height: 16px;
  background: #fff;
  margin: 2px;
  box-shadow: 0 0 2px #000;
  transition: 2s ease;
}

.square:hover {
  transition-duration: 0s;
  transform: translateX(2px) translateY(-5px);
}
